{% for error in errors.all %}
    <div data-alert class="alert-box alert radius">
        {{ error | trans }}
        <a href="#" class="close">&times;</a>
    </div>
{% endfor %}
{% for successMsg in success.all %}
    <div data-alert class="alert-box success radius">
        {{ successMsg | trans }}
        <a href="#" class="close">&times;</a>
    </div>
{% endfor %}