body {
    background: #f0f0f0 url('/images/background.jpg') no-repeat fixed;
    background-size: cover;
    color:      #333;
}
p {
    text-rendering: none;
}
.row > .content {
    margin-top:       40px;
    background-color: white;
    border:           2px solid #333;
    padding:          40px;
    border-radius:    10px;
    margin-bottom:    80px;
}
.row > .content h1 {
    margin-bottom: 40px;
    text-align: center;
}
.row >.content h2 {
    color: #666666;
    border-bottom: 1px solid #666666;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.9rem;
}
.row > .content h2.music-sheet {
    margin-bottom: 0;
}
.row > .content form {
    margin-bottom: 0;
}
.row >.content form input[type=submit] {
    margin-bottom: 0;
    margin-top: 40px;
}
.row >.content form input[type=text] {
    margin-top: 20px;
}
.midi-info {
    border: 1px solid #666;
    padding: 20px 10px;
}
a.print.button {
    margin-right: 2em;
}
.searchresults {
    width: 100%;
}
.searchresults a {
    display: block;
}

@media print {
    .row > .content {
        margin:           0;
        background-color: transparent;
        border:           none;
        padding:          0;
        border-radius:    0;
    }
    .row > .content > * {
        display: none;
    }
    .row > .content .music-sheet {
        display: block;
    }
}