body {
    background: #f0f0f0 url('/images/background.jpg') no-repeat fixed;
    background-size: cover;
    color:      #333;
}
p {
    text-rendering: none;
}
.row > .content {
    margin-top:       40px;
    background-color: white;
    border:           2px solid #333;
    padding:          40px;
    border-radius:    10px;
    margin-bottom:    80px;
}
.row > .content h1 {
    margin-bottom: 40px;
    text-align: center;
}
.row >.content h2 {
    color: #666666;
    border-bottom: 1px solid #666666;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.9rem;
}
.row > .content h2.music-sheet {
    margin-bottom: 0;
}
.row > .content form {
    margin-bottom: 0;
}
.row >.content form input[type=submit] {
    margin-bottom: 0;
    margin-top: 40px;
}
.row >.content form input[type=text] {
    margin-top: 20px;
}
.midi-info {
    border: 1px solid #666;
    padding: 20px 10px;
}
a.print.button {
    margin-right: 2em;
}
.searchresults, .historyresults {
    width: 100%;
}
.searchresults a, .historyresults a {
    display: block;
}
.historyresults a small {
    display: block;
    color: silver;
}
.facebook-signin, .signout {
    margin-top: -35px;
    margin-right: -35px;
}
.tabs.provide-midi {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
}
.tabs.provide-midi li {
    width: 33.3333%;
    text-align: center;
}
.tabs dd a, .tabs .tab-title a {
    background: transparent;
}
.tabs dd.active a, .tabs .tab-title.active a {
    background: #e0e0e0;
}
.social-icons .link img {
    width: 23px;
    margin: 14px;
}
.social-icons .twitter {
    margin-right: 20px;
}
.social-icons a {
    padding: 0;
}
.social-icons a.mail {
    padding: 8px 15px 8px 16px;
    font-size: 29px;
}
.button-filler {
    line-height: 51px;
    display: block;
    margin-right: 20px;
    color: gray;
}
#shareLink {
    padding: 70px 20px 0 20px;
}

@media print {
    .row > .content {
        margin:           0;
        background-color: transparent;
        border:           none;
        padding:          0;
        border-radius:    0;
    }
    .row > .content > * {
        display: none;
    }
    .row > .content .music-sheet {
        display: block;
    }
}