{% extends "layout/base.twig" %}

{% block content %}
    <section class="row">
        <section class="content column small-12 medium-6 medium-offset-3">
            <h1><img src="/images/kotta-logo.png" class="margin: 0 auto"/></h1>

            <p>
                Kotta is your first stop when searching for music sheet generated from MIDI files. Here you can upload a
                MIDI files that matches your interests and download a music sheet that we have extracted for you.
            </p>

            <p>
                Downloading your sheet music is a simple process of providing the MIDI file for which you want sheet music,
                select which track you want to export and then <em>Download</em> a PDF file with your sheet music.
            </p>
            <h2>Provide a MIDI File</h2>
            {% include 'includes.responseMsg' %}
            {{ Form.open({'files': true}) }}
                {{ Form.file('midi_file') }}

                {{ Form.submit('Upload Midi File', {'class': 'button expand'}) }}
            {{ Form.close() }}
        </section>
    </section>
{% endblock %}