<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Kotta Midi Converter{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/css/foundation.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/normalize.min.css"/>
        <script src="/js/modernizr.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/kotta.css"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
        {% block javascript %}{% endblock %}
    </body>
</html>

