<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
	    {% for error in errors.all %}
	    	{{ error | trans }}
	    {% endfor %}
		{% for successMsg in success.all %}
	        {{ successMsg | trans }}
	    {% endfor %}

        {% block content %}{% endblock %}

        {% block javascript %}{% endblock %}
    </body>
</html>

